.bgc_cabecalho {
    max-width: 1920px;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #F8F8FF;
    padding: 64px 0;
    gap: 24px;
}

.grid_cabecalho {
    max-width: 1216px;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 24px;
}

.container_img_cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_cabecalho {
    width: 207px;
    height: 240px;
}

.containar_text {
    width: 327px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.title_header {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: center;
}

span {
    color: #846AFF;
}

.subtitle_header {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.container_input {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input_search {
    width: 100%;
    height: 44px;
    padding: 14px 32px;
    background: #846AFF;
    border-radius: 4px;
    border-color: #846AFF;
    cursor: pointer;

    font-family: "Roboto";
    font-size: 15px;
    font-weight: 700;
    line-height: 16.41px;
    text-align: center;
    color: #FFFFFF;
}

.container_conteudo {
    max-width: 1920px;
    padding: 64px 0px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.title_conteudo {
    width: 327px;
    margin-bottom: 40px;
}

.recomendados {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 600;
    line-height: 28.13px;
    text-align: left;
}

.container_cards {
    width: 327px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 335px;
    display: flex;
    flex-direction: column;
    border: 2px solid #EEEEFF;
    border-radius: 8px;
    gap: 12px;
}

.img_card {
    width: 100%;
    height: 100%;
}

.box_information {
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.title_card {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    text-align: left;
}

.description_card {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.background_rodape {
    max-width: 1920px;
    height: 590px;
    display: grid;

    padding: 64px, 0px, 64px, 0px;
    justify-content: center;
    align-items: center;
    background: #F8F8FF;
    gap: 48px;
}

.container_conteudo_rodape {
    width: 326px;
    height: 462px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.entre_contato {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 600;
    line-height: 32.81px;
    text-align: left;
}


#form_rodape {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input_rodape {
    width: 100%;
    height: 48px;
    padding: 16px 18px;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
}

#msg_assunto {
    width: 100%;
    height: 150px;
    padding: 16px 18px;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
}

.contato {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background: #846AFF;
    color: white;
    border: #846AFF;
    cursor: pointer;

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: center;
}

::placeholder {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: #7C7C8A;
}


@media(min-width: 640px) {

    .img_cabecalho {
        width: 330px;
        height: 379.5px;
    }

    .containar_text {
        width: 550px;
    }

    .title_header {
        font-size: 32px;
        line-height: 38.4px;
    }

    .subtitle_header {
        font-size: 20px;
        line-height: 30px;
    }

    .input_search {
        width: 214px;
        height: 49px;
    }

    .title_conteudo {
        width: 100%;
    }

    .recomendados {
        font-size: 28px;
        line-height: 34.81px;
    }

    .container_cards {
        width: 710px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .background_rodape {
        height: 649px;
        padding: 80px 32px;
    }

    .container_conteudo_rodape {
        width: 704px;
        height: 484px;
    }

    .input_rodape {
        height: 58px;
        padding: 19px 24px;
    }

    ::placeholder {
        font-size: 18px;
        line-height: 21.09px;
    }

    #msg_assunto {
        padding: 19px, 24px;
        gap: 10px;
    }
}

@media(min-width: 1000px) {

    .grid_cabecalho {
        grid-template-columns: 1fr 1fr;
        gap: 235px;
    }

    .img_cabecalho {
        width: 400px;
        height: 460px;
    }

    .container_img_cabecalho {
        grid-area: 1 / 2;
    }

    .containar_text {
        width: 581px;
        height: 281px;
        gap: 32px;
    }

    .title_header {
        font-size: 40px;
        line-height: 48px;
    }

    .subtitle_header {
        font-size: 24px;
        line-height: 36px;
    }

    .title_conteudo {
        width: 1216px;
    }

    .recomendados {
        font-size: 32px;
        line-height: 37.5px;
    }

    .container_cards {
        width: 1216px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
    }

    .card {
        width: 384px;
        height: 357px;
    }

    .box_information {
        padding: 0px 24px;
    }

    .title_card {
        font-size: 20px;
        line-height: 26px;
    }

    .description_card {
        font-size: 18px;
        line-height: 27px;
    }

    .background_rodape {
        height: 649px;
    }

    .container_conteudo_rodape {
        width: 592px;
        height: 489px;
    }

    .entre_contato {
        font-size: 32px;
        line-height: 37.5px;
        display: flex;
        justify-content: center;
    }

    #form_rodape {
        width: 592px;
        height: 316px;
    }


}